body {
  background-color: black;
}

/* フィールド全体の配置 */
.game-container {
  display: flex;
  justify-content: space-around;
}

/* 各フィールドと入力領域を縦に並べる */
.field-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
}

/* フィールドと入力領域のキャンバススタイル */
canvas {

}

/* フィールドキャンバス */
.field {
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* キャンバスの影 */
  border: 1px solid #444;
}

/* 入力領域キャンバス */
.inputField {
 margin-top: 4vh;
 background-color: #222; /* 入力領域の背景色を少し明るいダークグレーに設定 */
 border-top: 2px solid #444; /* 境界線 */
 border-bottom: 2px solid #444;/
}

